body { margin:0; } /* Remove body margins */

@font-face {
    font-family: "Avant Garde Gothic ITC";
    src: local("AvantGarde"),
      url("./resources/avantgardebq-extralight.otf") format("opentype");
    font-weight: bolder;
}